<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [4]:
import pandas as pd

Load the dataset into a dataframe.

In [37]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

Number of rows before removing duplicates: 11552

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [38]:
# your code goes here
duplicate_rows = df[df.duplicated()]
num_duplicate_rows = len(duplicate_rows)

# Print the number of duplicate rows
print(f"Number of duplicate rows: {num_duplicate_rows}")

Number of duplicate rows: 154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [43]:
# Remove duplicate rows
df_no_duplicates = df.drop_duplicates()
num_rows_after_duplicates = df_no_duplicates.shape[0]
print(f"Number of rows after removing duplicates: {num_rows_after_duplicates}")

# Count the number of missing values in the 'EdLevel' column
num_missing_edlevel = df_no_duplicates['EdLevel'].isnull().sum()

print(f"Number of missing rows in the 'EdLevel' column after removing duplicates: {num_missing_edlevel}")

# Count the number of missing values in the 'Country' column
num_missing_country = df_no_duplicates['Country'].isnull().sum()

print(f"Number of missing rows in the 'Country' column after removing duplicates: {num_missing_country}")

Number of rows after removing duplicates: 11398
Number of missing rows in the 'EdLevel' column after removing duplicates: 112
Number of missing rows in the 'Country' column after removing duplicates: 0

Verify if duplicates were actually dropped.

In [41]:
# Display the number of duplicate rows after removal
print(f"Number of duplicate rows after removal: {df_no_duplicates.duplicated().sum()}")

# Verify if duplicates were dropped
if len(df_no_duplicates) == len(df_no_duplicates.drop_duplicates()):
    print("Duplicates were successfully dropped.")
else:
    print("Duplicates were not dropped.")

Number of duplicate rows after removal: 0
Duplicates were successfully dropped.

## Finding Missing values

Find the missing values for all columns.

In [14]:
# Find missing values for all columns
missing_values = df.isnull().sum()

# Display the missing values
print("Missing values for each column:")
print(missing_values)

Missing values for each column:
Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       547
Ethnicity       683
Dependents      144
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [15]:
# Find missing values in the 'WorkLoc' column
missing_workloc = df['WorkLoc'].isnull().sum()

# Display the number of missing values in 'WorkLoc'
print("Number of missing values in 'WorkLoc':", missing_workloc)

Number of missing values in 'WorkLoc': 32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [45]:
# Display the value counts for the 'WorkLoc' column
workloc_counts = df['WorkLoc'].value_counts()

# Print the result
print("Value counts for 'WorkLoc':")
print(workloc_counts)

# Get value counts for the 'Employment' column
employment_counts = df_no_duplicates['Employment'].value_counts()

# Find the majority category
majority_category = employment_counts.idxmax()

print(f"The majority category under the 'Employment' column is: {majority_category}")

# Get value counts for the 'UndergradMajor' column
undergrad_major_counts = df_no_duplicates['UndergradMajor'].value_counts()

# Find the category with the minimum number of rows
min_category = undergrad_major_counts.idxmin()

print(f"The category under the 'UndergradMajor' column with the minimum number of rows is: {min_category}")

Value counts for 'WorkLoc':
Office                                            6905
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: WorkLoc, dtype: int64
The majority category under the 'Employment' column is: Employed full-time
The category under the 'UndergradMajor' column with the minimum number of rows is: A health science (ex. nursing, pharmacy, radiology)

Identify the value that is most frequent (majority) in the WorkLoc column.

In [19]:
#make a note of the majority value here, for future reference
#find the most frequent value in the 'WorkLoc' column
most_frequent_workloc = df['WorkLoc'].value_counts().idxmax()

print(f"The most frequent value in 'WorkLoc' column is: {most_frequent_workloc}")

The most frequent value in 'WorkLoc' column is: Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [22]:
# Impute missing values in 'WorkLoc' with the most frequent value
df['WorkLoc'] = df['WorkLoc'].fillna(most_frequent_workloc)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [23]:
# Verify if imputing was successful
print("Value counts for 'WorkLoc' after imputation:")
print(df['WorkLoc'].value_counts())

Value counts for 'WorkLoc' after imputation:
Office                                            6937
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: WorkLoc, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [54]:
# List out the various categories in the 'CompFreq' column
comp_freq_categories = df['CompFreq'].value_counts().index.tolist()

# Print the result
print("Categories in the 'CompFreq' column:")
print(comp_freq_categories)
unique_comp_freq = df['CompFreq'].nunique()
print(f"Number of unique values in CompFreq: {unique_comp_freq}")


comp_freq_after_duplicates = df_no_duplicates['CompFreq'].value_counts()

#Count for 'Yearly'
yearly_count = comp_freq_after_duplicates.get('Yearly', 0)
print(f"After removing duplicates, number of respondents being paid yearly: {yearly_count}")

Categories in the 'CompFreq' column:
['Yearly', 'Monthly', 'Weekly']
Number of unique values in CompFreq: 3
After removing duplicates, number of respondents being paid yearly: 6073

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [59]:
import pandas as pd

# Define a function to apply the logic and create the new column
def normalize_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return None  # Handle other cases if needed

# Apply the function to create the new column
df['NormalizedAnnualCompensation'] = df.apply(normalize_compensation, axis=1)

# Calculate and print the median of the 'NormalizedAnnualCompensation' column 
median_normalized_compensation = df['NormalizedAnnualCompensation'].median()
print(f"The median NormalizedAnnualCompensation is: {median_normalized_compensation}")

# Print success message
print("NormalizedAnnualCompensation column created successfully")

# Print only the 'NormalizedAnnualCompensation' column
df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']].head(20)

The median NormalizedAnnualCompensation is: 100000.0
NormalizedAnnualCompensation column created successfully

   CompFreq  CompTotal  NormalizedAnnualCompensation
0    Yearly    61000.0                       61000.0
1    Yearly   138000.0                      138000.0
2    Yearly    90000.0                       90000.0
3   Monthly    29000.0                      348000.0
4    Yearly    90000.0                       90000.0
5   Monthly     9500.0                      114000.0
6   Monthly     3000.0                       36000.0
7    Yearly   103000.0                      103000.0
8    Yearly    69000.0                       69000.0
9   Monthly     8000.0                       96000.0
10  Monthly     7000.0                       84000.0
11   Yearly   114000.0                      114000.0
12   Weekly     2000.0                      104000.0
13   Weekly    22000.0                     1144000.0
14  Monthly    96000.0                     1152000.0
15   Yearly   156000.0                      156000.0
16   Yearly    18000.0                       18000.0
17  Monthly     6400.0                       76800.0
18  Monthly     5000.0                       60000.0
19   Yearly   400000.0                      400000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).